footer.p-4.bg-primary
  .container-fluid.text-white.text-center
    h4= 'copyright © 2020 - ' + author
    .social-icons
      i.fab.fa-html5
      i.fab.fa-css3-alt
      i.fab.fa-bootstrap
      i.fab.fa-js
      i.fab.fa-git-alt
      i.fab.fa-github
