//- Siempre dejar una tabulación para reconocer las variables
-
  let author = 'Edison Peñuela'
  let title = 'Esta es una página de ejemplo usando Pug'
  let menuOptions= [
    {path: 'index.html', name: "Home"},
    {path: '#', name: "About"},
    {path: '#', name: "Contact"}
  ]